@{ 
    Layout = null;
}
@if (Model != null)
{
    foreach (var item in Model)
    {
        <li class="dropdown-submenu nav-item-lv2">
            <a class="nav-link" href="@item.NewsUrl" title="@item.NewsTitle">
                @item.NewsTitle
            </a>
        </li>
    }
}