

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li>
            <a class="ajaxLayer a_lv2" href="#">
                <span>@item.NewsTitle</span>
            </a>

        </li>
    }
}
