
@{
    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <option value="@item.NewsCategoryId" data-parent="@item.ParentID">
            --@item.NewsCategoryTitle
        </option>
        @*@Html.Action("ProductCategoryselect", "ProductCategory", new { parentId = item.ProductCategoryId })*@
    }
}