
@{
    ViewBag.Title = "Quản lý danh sách danh mục tin";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    Quản lý danh sách danh mục tin
                    @*<div class="page-title-subheading">Tables are the backbone of almost all web applications.</div>*@
                </div>
            </div>
            <div class="page-title-actions">
                @*<button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
                        <i class="fa fa-star"></i>
                    </button>*@
                <div class="d-inline-block dropdown">
                    <button onclick="goto()" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow  btn btn-info">
                        @*<span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-business-time fa-w-20"></i>
                            </span>*@
                        Thêm
                    </button>
                    @*<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <i class="nav-link-icon lnr-inbox"></i>
                                        <span> Inbox</span>
                                        <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <i class="nav-link-icon lnr-book"></i>
                                        <span> Book</span>
                                        <div class="ml-auto badge badge-pill badge-danger">5</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <i class="nav-link-icon lnr-picture"></i>
                                        <span> Picture</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a disabled="" class="nav-link disabled">
                                        <i class="nav-link-icon lnr-file-empty"></i>
                                        <span> File Disabled</span>
                                    </a>
                                </li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
    </div>        <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Danh sách</h5>
                    <div class="table-responsive">
                        <table class="mb-0 table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên danh mục</th>
                                    <th>Hình ảnh</th>
                                    <th>URL</th>
                                    <th>sắp xếp</th>
                                    <th>Hiển thị</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody id="bodydata">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    getList();
    function getList() {
        var param = null;
        $.ajax({
            url: '/Administrator/NewsCategories/NewscategoryGetData',
            data: param,
            dataType: 'text',
            type: 'POST',
            cache: false,
            success: function (result) {
                $("#bodydata").empty().html(result)
            }
        });
    }
    function goto() {
        window.location.href = "/Administrator/NewsCategories/NewscategoryInsertList";
    }
</script>


<script type="text/javascript">
    $(document).ready(function (e) {
        $('input').lc_switch();

        // triggered each time a field changes status
        $(document).on('lcs-statuschange', '.lcs_check', function () {
            var status = ($(this).is(':checked')) ? 'checked' : 'unchecked',
                subj = ($(this).attr('type') == 'radio') ? 'radio #' : 'checkbox #',
                num = $(this).val();

            $('#third_div ul').prepend('<li><em>[lcs-statuschange]</em>' + subj + num + ' changed status: ' + status + '</li>');
        });


        // triggered each time a field is checked
        $(document).on('lcs-on', '.lcs_check', function () {
            updateDisplay($(this).val(), 1);
            var subj = ($(this).attr('type') == 'radio') ? 'radio #' : 'checkbox #',
                num = $(this).val();

            $('#third_div ul').prepend('<li><em>[lcs-on]</em>' + subj + num + ' is checked</li>');
        });


        // triggered each time a is unchecked
        $(document).on('lcs-off', '.lcs_check', function () {
            updateDisplay($(this).val(), 0);
            var subj = ($(this).attr('type') == 'radio') ? 'radio #' : 'checkbox #',
                num = $(this).val();

            $('#third_div ul').prepend('<li><em>[lcs-off]</em>' + subj + num + ' is unchecked</li>');
        });
    });



    // clean events log
    $('#third_div small').click(function () {
        $('#third_div ul').empty();
    });
    function updateDisplay(id, status) {
        var param =
        {
            "id": id,
            "idorder": status
        }
        $.ajax({
            url: '/Administrator/Products/ProductShow',
            data: param,
            dataType: 'text',
            type: 'POST',
            cache: false,
            success: function (result) {
                getList();
            }
        });
    }
</script>