
@{
    ViewBag.Title = "CHI TIẾT BÀI VIẾT";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="typeimage" value="1" />
@*@Html.Action("Test", "NewsCategory", new { parentId = 1, exexcep = 2 })*@
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    CHI TIẾT BÀI VIẾT
                    @*<div class="page-title-subheading">Tables are the backbone of almost all web applications.</div>*@
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" onclick="returns()" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
                    Hủy
                </button>
                <button class="mt-1 btn btn-danger" data-toggle="tooltip" data-placement="bottom" onclick="SaveData()" data-original-title="Example Tooltip">Lưu</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @*<div class="inputWrapper">
                    <input type="file" id="fu" multiple>
                </div>
                <div id="dd">

                </div>*@
            <div class="tab-content">
                <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">Nội dung</h5>
                                    <div class="">
                                        <!--Tiêu đề-->
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">Tiêu đề <span style="color:red">(*)</span></label>
                                            @if (Model != null && Model.Count > 0)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <input name="txtName" id="txtName" placeholder="" type="text" class="form-control" value="@item.Name">
                                                    <input type="hidden" id="txtID" name="txtID" value="@item.ID" />
                                                }

                                            }
                                            else
                                            {
                                                <input name="txtName" id="txtName" placeholder="" type="text" class="form-control">
                                                <input type="hidden" id="txtID" name="txtID" value="0" />
                                            }

                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">Ghi chú <span style="color:red">(*)</span></label>
                                            @if (Model != null && Model.Count > 0)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <input name="txtName" id="txtHex" placeholder="" type="text" class="form-control" value="@item.Notes">
                                                }

                                            }
                                            else
                                            {
                                                <input name="txtName" id="txtHex" placeholder="" type="text" class="form-control">
                                            }

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="btn_Save_Fixed">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function SaveData() {
        var parentselect = $("#slPoductCategory option:selected").attr("data-parent") + "," + $("#slPoductCategory").val();

        var param = {
            "ID": $("#txtID").val(),
            "Name": $("#txtName").val(),
            "Notes": $("#txtHex").val()
        }
        $.post("/Administrator/Sizes/UpdateSize", { "data": "" + JSON.stringify(param) + "" }, function (result) {
            window.location.href = "/Administrator/Sizes/SzieGetList";


        });
    }
</script>
<script src="~/assets/uploads/jquery.html5uploader.min.js"></script>
<script src="~/assets/uploads/elnino.drag-upload.js"></script>
<script type="text/javascript">
    pnlContainer = 'pnlTemplateFile';
    pnlDragUpload = 'pnlDragTemplateFile';
    fileUploadControl = 'fu';
    fileUploadControl2 = 'fu2';
    fileUploadControl3 = 'fu3';
    ReloadDragUpload();
    $("#ddl-NewsCate").val($("#txtparentId").val());
    $("#ddlshowmenu").val($("#txtshowmenuId").val());
    $("#ddlisshowhome").val($("#txtisshowhomeId").val());
    function ChangeDD() {
        alert(dd);
    }
    //$('#dd').bind('DOMSubtreeModified', function () {
    //    alert('changed');
    //});
    $(document).ready(function () {
        //alert("ready!");
        var vb = '@ViewBag.Selected';
        $("#slPoductCategory").val(vb).change();
    });

    $("#fu2").on("change", function () {
        var numFiles = $(this).get(0).files.length;

        $("#typeimage").val(2);
        bien = numFiles;
        dd = "";
    });
    $("#fu").on("change", function () {
        $("#typeimage").val(1); dd = "";
    });
    var bien = 0;
    var savedd = "";

    function img_click(name, folder,name2) {


        $("#dd").html('');
        $("#hdFileName").val('');
        //if()
    //Ajax xóa

        $.ajax({
            url: '/Tool/DeleteFile.ashx',
            data: 'name=' + name + '&folder=' + folder ,
            dataType: 'text',
            type: 'GET',
            cache: false,
            success: function (result) {

            }
        });

    }
    function img_click2(name, folder, name2) {
        $("#" + name2).hide();
        if (folder == "Temp") {
            savedd = savedd.replace(name, '');
        }

        //if()
        //Ajax xóa

        $.ajax({
            url: '/Tool/DeleteFile.ashx',
            data: 'name=' + name + '&folder=' + folder,
            dataType: 'text',
            type: 'GET',
            cache: false,
            success: function (result) {
            }
        });
        //Xóa
        var params = {
            'NewsId': $("#txtID").val(),
            'Images': name
        }
        if (folder == "NewssImg") {
            $.ajax({
                url: '/Newss/DeleteNewssImage',
                data: params,
                dataType: 'text',
                type: 'POST',
                cache: false,
                success: function (result) {
                    window.location.href = "/Administrator/Colors/ColorGetList";
                }
            });
        }
    }
    function returns() {
        window.location.href = "/Administrator/Colors/ColorGetList";
    }
</script>
<style>
    #multidd img {
        width: 150px;
    }
</style>