<div class="aboutus_breadcum">
    <img src="~/assets/images/Aboutus/gioithieu.jpg" class="img-responsive" />
    <div class="aboutus_breadcum_title">
        GIỚI THIỆU
    </div>
</div>
<div class="container">
    <div class="about-us-box">
        <div class="about-us_title">
            GIỚI THIỆU
        </div>
    </div>
    <div class="about-us-content">
        <div class="content_detail">
            Lời đầu tiên, CÔNG TY CỔ PHẦN TẬP ĐOÀN NGUYỄN HOÀNG CENTURY (NGUYỄN HOÀNG CENTURY GROUP) xin được gởi đến Quý đối tác, Quý khách hàng lời chào trân trọng, lời chúc sức khỏe, hưng thịnh, phát đạt và lời tri ân sâu sắc.
        </div>
    </div>
    <div class="about-us-content">
        <div class="content_detail">
            NGUYỄN HOÀNG CENTURY được thành lập năm 2011, là đơn vị chuyên hoạt động về lĩnh vực LẠNH DÂN DỤNG – CÔNG NGHIỆP. Với dòng slogan ‘’We bring you the best - Chúng tôi mang đến cho bạn sự hài lòng nhất ‘’, ngay từ ngày thành lập Ban lãnh đạo và tập thể Công ty đã lấy triết lý ‘’Kinh doanh chính là phụng sự’’ làm sứ mệnh cho phương châm hoạt động. Từ đó tập thể công ty đã luôn nỗ lực và không ngừng sáng tạo để tạo ra những giải pháp, sản phẩm tốt nhất cho khách hàng.
        </div>
    </div>
    <div class="about-us-content">
        <div class="content_detail">
            Đến năm 2020, NGUYỄN HOÀNG CENTURY đã trở thành một trong những nhà thầu cơ điện lạnh hàng đầu khu vực phía Nam, một trong những thương hiệu được nhiều khách hàng, đối tác trong và ngoại nước tin chọn. Từ tháng 03/2020, Nguyễn Hoàng chính thức mở rộng thêm hai lĩnh vực: Xây dựng và Quản lý bất động sản. Như vậy, hiện nay Nguyễn Hoàng hoạt động chính thức với ba ngành tiêu biểu: Cơ điện lạnh – Xây dựng và Bất động sản.
        </div>
    </div>
    <div class="about-us-content">
        <div class="content_detail">
            Bằng những sự tin tưởng của Quý khách hàng, Quý đối tác cũng như kinh nghiệm và tâm huyết của chính mình, tập thể chúng tôi tin rằng Nguyễn Hoàng sẽ tiếp tục tăng trưởng và phát triển vượt bậc trong thời gian tới. Qua đó nâng cao – thúc sự hợp tác và phát triển với khách hàng – đối tác; cũng như mang lại những giá trị tốt đẹp cho xã hội và Quốc gia.
        </div>
    </div>
    <div class="about-us-content">
        <div class="content_detail">
            Thay mặt cho tập thể của công ty, chúng tôi xin chân thành cảm ơn Quý đối tác, Quý khách hàng đã ủng hộ chúng tôi trong suốt thời gian qua. NGUYỄN HOÀNG CENTURY sẽ là một lựa chọn tin yêu, một đối tác tin cậy của Quý đối tác, Quý khách hàng, qua đó mang lại hạnh phúc - sự an tâm cho từng gia đình, doanh nghiệp.
        </div>
    </div>
    <div class="about-us-box">
        <div class="about-us_title wow  bounceInUp " data-wow-duration="1.5s">
            LỊCH SỬ HÌNH THÀNH VÀ PHÁT TRIỂN
        </div>
    </div>
    <div class="about-us-content wow  bounceInUp" data-wow-duration="1.5s">
        <div class="about-us-content_title">
            Giai đoạn 2011
        </div>
        <div class="about-us-content_detail wow  bounceInUp" data-wow-duration="1.5s">
            CÔNG TY TNHH TM DV CƠ ĐIỆN LẠNH NGUYỄN HOÀNG
        </div>
    </div>
    <div class="about-us-content">
        <div class="about-us-content_title">
            Giai đoạn 2014
        </div>
        <div class="about-us-content_detail">
            Phục vụ những dự án cho các Doanh nghiệp.
            Mở thêm xưởng sản xuất dàn nóng, dàn lạnh
        </div>
    </div>
    <div class="about-us-content">
        <div class="about-us-content_title">
            Giai đoạn 2018
        </div>
        <div class="about-us-content_detail">
            Trở thành đối tác của nhiều tập đoàn lớn trong và ngoài nước.
            Mở thêm xưởng sản xuất ống gió
        </div>
    </div>
    <div class="about-us-content">
        <div class="about-us-content_title">
            Giai đoạn 2022
        </div>
        <div class="about-us-content_detail">
            CÔNG TY CP TẬP ĐOÀN NGUYỄN HOÀNG CENTURY (NHC Group)
        </div>
    </div>



    <div class="about-us-box" style="margin-top:0px;">
        Sứ Mệnh
    </div>
    <div class="row">
        <div class="col-sm-6">

            <div class="about-us-content_detail2">
                Triết lý của Nguyễn Hoàng Century chúng tôi
                là: “Kinh doanh chính là phụng sự”, do đó
                chúng tôi luôn cập nhật công nghệ của thế giới,
                không ngừng học tập, đổi mới và sáng tạo nhằm
                mang đến những sản phẩm & dịch vụ tốt nhất
                cho khách hàng/đối tác.
                Bên cạnh phụng sự & chăm lo cho khách hàng/
                đối tác, Nguyễn Hoàng Century còn một
                sứ mệnh khác đó là quyết tâm trở thành
                thương hiệu Quốc gia, góp một phần nhỏ vào
                công cuộc xây dựng và phát triển đất nước
            </div>
        </div>
        <div class="col-sm-6">
            <img src="~/assets/images/Aboutus/tam-nhin-trong-kinh-doanh.jpeg" class="img-responsive" />
        </div>
    </div>

    <div class="about-us-box" style="margin-top:0px;">
        Tầm nhìn
    </div>
    <div class="row">
        <div class="col-sm-6">

            <div class="about-us-content_detail2">
                GIAI ĐOẠN 2021 - 2025 Tiếp tục khẳng định và giữ vững vị thế nhà thầu cơ điện lạnh hàng đầu của miền Nam Bên cạnh đó, Nguyễn Hoàng Century sẽ quyết tâm trở thành nhà thầu xây dựngchuyên nghiệp, phục vụ các dự án xây dựng dân dụng thương mại.
                - Từ giai đoạn 2022 - 2025, phía NHC Group sẽ bắt đầu triển khai phát triển các kênh về quản lý - khai thác & phân phối các dự án bất động sản
            </div>
            <div class="about-us-content_detail2">
                GIAI ĐOẠN 2026 - 2030 - Đưa NHC Group trở thành nhà thầu xây dựng - cơ điện lạnh hàng đầu miền Nam.
                - Về lĩnh vực bất động sản, NHC Group trở thành thương hiệu danh tiếng với nhiều sản
                phẩm & dịch vụ mang tính đột phá và ưu việt
            </div>
        </div>
        <div class="col-sm-6">
            <img src="~/assets/images/Aboutus/tam-nhin-trong-kinh-doanh.jpeg" class="img-responsive" />
        </div>
    </div>
    <div class="about-us-box" style="margin-top:0px;">
        Giá trị cốt lõi
    </div>
    <div class="col-md-4">
        <img src="~/assets/images/Aboutus/icongitri.webp" />
        <div class="gtcl_title">
            Tín
        </div>
        <div class="gtcl_content">
            Lấy chữ tín là Kim chỉ nam cho chiến lược và phương thức kinh doanh.
        </div>
    </div>
    <div class="col-md-4">
        <img src="~/assets/images/Aboutus/icongitri.webp" />
        <div class="gtcl_title">
            Tâm
        </div>
        <div class="gtcl_content">
            Luôn tôn trọng đạo đức nghề nghiệp trên tinh thần thượng tôn pháp luật
        </div>
    </div>
    <div class="col-md-4">
        <img src="~/assets/images/Aboutus/icongitri.webp" />
        <div class="gtcl_title">
            Tài
        </div>
        <div class="gtcl_content">
            Lấy sự sáng tạo, năng lực tập thể làm nguồn tài nguyên cho sự trường tồn và phát triển.
        </div>
    </div>
    <div class="col-md-4">
        <img src="~/assets/images/Aboutus/icongitri.webp" />
        <div class="gtcl_title">
            Chí
        </div>
        <div class="gtcl_content">
            Lấy ý chí &Aacute; sĩ khí làm động lực để [hát triển nguồn nhân lực]
        </div>
    </div>
    <div class="col-md-4">
        <img src="~/assets/images/Aboutus/icongitri.webp" />
        <div class="gtcl_title">
            Nhân
        </div>
        <div class="gtcl_content">
            Lấy sự thiện trí, tinh thần nhân ái để cho việc xây dựng các mối quan hệ vững chắc vối đối tác, khách hàng, người lao độn. Bằng trách nhiệm, sự nhân văn của mình cố gắng thật nhiều cho đời sống gia đình và cộng đồng.
        </div>
    </div>


    <div class="about-us-box" style="margin-top:0px;">

        NĂNG LỰC CỦA CHÚNG TÔI
    </div>
    <div class="row">
        <div class="col-sm-12">

            <div class="about-us-content_detail2">
                Với slogan ‘’We Bring you the best’’ luôn đa dạng hóa các sản phẩm và dịch vụ,
                NGUYỄN HOÀNG CENTURY quyết tâm phủ sóng các sản phẩm - dịch vụ của mình ở mọi công trình từ trường học, cao ốc văn phòng đến các trung tâm mua sắm, nhà máy sản xuất, căn hộ, nhà ở.
                NGUYỄN HOÀNG CENTURY cung cấp trọn gói các sản phẩm – giải pháp trong
                lĩnh vực cơ điện lạnh, xây dựng, quản lý – phát triển bất động sản, là một trong những đơn vị tiên phong luôn luôn cập nhật, nghiên cứu thị trường, nắm bắt xu thế,
                lắng nghe và thay đổi nhằm tập trung phục vụ nhu cầu của mọi đối tượng khách hàng.
            </div>
        </div>
        <div class="col-sm-12">
            <div class="nlcct_image">
                <img src="~/assets/images/Aboutus/Nangluchcungtoi/nl1.jpg" class="img-responsive" />
            </div>
            <div class="nlcct_image">
                <img src="~/assets/images/Aboutus/Nangluchcungtoi/nl2.jpg" class="img-responsive" />
            </div>
            <div class="nlcct_image">
                <img src="~/assets/images/Aboutus/Nangluchcungtoi/nl3.jpg" class="img-responsive" />
            </div>
            <div class="nlcct_image">
                <img src="~/assets/images/Aboutus/Nangluchcungtoi/nl4.jpg" class="img-responsive" />
            </div>
            <div class="nlcct_image">
                <img src="~/assets/images/Aboutus/Nangluchcungtoi/nl5.jpg" class="img-responsive" />
            </div>
            <div class="nlcct_image">
                <img src="~/assets/images/Aboutus/Nangluchcungtoi/nl6.jpg" class="img-responsive" />
            </div>
            <div class="nlcct_image">
                <img src="~/assets/images/Aboutus/Nangluchcungtoi/nl7.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>new WOW().init();</script>


<script>
    $(document).ready(function () {
        $("#tab2").hide();
        $("#tab3").hide();
        $("#tab4").hide();
    })
    function tgtab(id, dis) {
        $(".tabcontent").hide();
        $("#" + id).show();
        $(".achung").removeClass("tabactive");
        $(dis).addClass("tabactive");
    }
</script>
<style>
    body {
        background-color: white !important;
    }
</style>


<iframe  src="https://online.anyflip.com/etjid/wxio/mobile/index.html">

</iframe>