<div class="footer_box">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="footer_ul">
                    <ul>
                        <li>
                            <a href="ve-chung-toi">
                            <i style="width: 15px; left: 2px; position: relative; " class="fa fa-info"></i>    Giới thiệu chung 
                            </a>
                        </li>
                        <li>
                           <i style="width: 15px;" class="fa fa-map-marker"></i> B42 Đường số 2, KDC Kim Sơn, P. Tân Phong, Quận 7
                        </li>
                        <li>
                           <i style="width: 15px;" class="fa fa-phone"></i> 028 7300 2006 | 0283 7734 279
                        </li>
                        <li>
                            <i style="width:15px;" class="fa fa-phone"></i> + 84 913 733 557
                        </li>
                        <li>
                            <a href="mailto:info@nhc-group.vn">
                                <i style="width:15px;" class="fa fa-envelope"></i>  info@nhc-group.vn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
            
                <div class="footer_ul">
                    <ul>
                        <li>
                            <a href="du-an">
                                <i class="fa fa-angle-right"></i> Dự án
                            </a>
                        </li>
                        <li>
                            <a href="dich-vu">
                                <i class="fa fa-angle-right"></i> Dịch vụ
                            </a>
                        </li>
                        <li>
                            <a href="tin-tuc">
                                <i class="fa fa-angle-right"></i> Tin tức
                            </a>
                        </li>
                        <li>
                            <a href="tuyen-dung">
                                <i class="fa fa-angle-right"></i> Tuyển dụng
                            </a>
                        </li>
                        <li>
                            <a href="chinh-sach-bao-mat-thong-tin">
                                <i class="fa fa-angle-right"></i> Chính sách bảo mật
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
           
                <div class="footer_ul">
                    <ul>
                        <li>
                            <a href="xay-dung">
                                <i class="fa fa-angle-right"></i> Xây dựng
                            </a>
                        </li>
                        <li>
                            <a href="co-dien-lanh">
                                <i class="fa fa-angle-right"></i> Điện lạnh - Nội thất
                            </a>
                        </li>
                        <li>
                            <a href="bat-dong-san">
                                <i class="fa fa-angle-right"></i> Bất động sản
                            </a>
                        </li>
                        <li>
                            <a href="chinh-sach-bao-hanh">
                                <i class="fa fa-angle-right"></i> Bảo hành
                            </a>
                        </li>
                        <li>
                            <a href="chinh-sach-giao-hang">
                                <i class="fa fa-angle-right"></i> Giao hàng
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">

                <div class="vuilongnhapthongtin">
                    <div class="vuilongnhapthongtin_title">
                        Vui lòng nhập đầy đủ thông tin, chúng tôi sẽ phản hồi bạn trong thời gian sớm nhất
                    </div>
                    <div class="vuilongnhapthongtin_input">
                        <input placeholder="Nhập email đăng ký" /><a>Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-10">
                <ul class="spec">
                    <li>
                        CÔNG TY CỔ PHẦN NGUYỄN HOÀNG CENTURY - NHC GROUP
                    </li>
                    <li>
                        Giấy chứng nhận ĐKKD số: 0311002521 do Sở KH & ĐT TPHCM cấp lần đầu ngày 20/07/2011.
                    </li>

                  
                    <li style="font-size:30px;">
                       Copyright@NHC-GROUP - Tất cả đều được bảo hộ bản quyền tác giả bởi đạo luật DMCA Hoa Kỳ. 
		       <div>Vui lòng không sao chép dưới mọi hình thức để tránh vi phạm đáng tiếc.
</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="no-ul luottruycap">
                    <li>
                        <i class="fa fa-user"></i> Đang online: @(HttpContext.Current.Application["visitors_online"])
                    </li>
                    <li>
                        <i class="fa fa-user"></i> Hôm qua: @(HttpContext.Current.Application["HomQua"])
                    </li>
                    <li>
                        <i class="fa fa-user"></i> Tháng này: @(HttpContext.Current.Application["ThangNay"])
                    </li>
                    <li>
                        <i class="fa fa-users"></i> Tất cả: @(HttpContext.Current.Application["TatCa"])
                    </li>
                </ul>
            </div>
            @*<ul class="mxh">
                <li>
                    <a>
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>*@
        </div>
    </div>
</div>



<div class="fab-wrapper hidden" >
    <input id="fabCheckbox" type="checkbox" class="fab-checkbox">
    <div class="background_social"></div>
    <label class="fab" for="fabCheckbox">
        <i class="icon-cps-fab-menu"></i>
        <!-- <i class="icon-cps-close"></i> -->
    </label>
    <div class="fab-wheel">
        <a class="fab-action fab-action-1" href="">
            <span class="fab-title">Liên hệ</span>
            <div class="fab-button fab-button-1"><i class="fa fa-envelope " aria-hidden="true"></i></div>
        </a>
        <a class="fab-action fab-action-2" href="tel:0938434666" onclick="actionFn('click-hotline')">
            <span class="fab-title">Hotline 0938434666</span>
            <div class="fab-button fab-button-2"><i class="fa fa-mobile fa-2x" aria-hidden="true"></i></div>
        </a>
        <a class="fab-action fab-action-3" href="">
            <span class="fab-title">Chat facebook</span>
            <div class="fab-button fab-button-3"><img src="modules/social/messge.png" class="rounded-circle"></div>
        </a>
        <a class="fab-action fab-action-4" href="" id="linkzalo">
            <span class="fab-title">Chat Zalo</span>
            <div class="fab-button fab-button-4"><img src="modules/social/call_03.png" class="rounded-circle"></div>
        </a>
        <a class="fab-action fab-action-5" href="viber://chat?number=%2B84938434666">
            <span class="fab-title">Chat Viber</span>
            <div class="fab-button fab-button-5"><img src="modules/social/viber.png" class="rounded-circle"></div>
        </a>
    </div>

</div>

<div class="sidenav">
    <ul>
        <li><a href="tel:0913733557" rel="nofollow" target="_blank"><i class="ticon-goi-circle2"></i></a></li>
        <li><a href="https://zalo.me/0913733557" rel="nofollow" target="_blank"><i class="ticon-zalo-circle2"></i></a></li>
		<li><a href="https://nguyenhoangcentury.vn/dat-lich" rel="nofollow" target="_blank"><i class="fa fa-calendar fa-2x"></i></a></li>
		<li><a href="https://www.facebook.com/NguyenHoangCentury" rel="nofollow" target="_blank"><i class="ticon-messenger"></i></a></li>
        <li><a href="https://goo.gl/maps/dENa81ocGckjHL7C9" rel="nofollow" target="_blank"><i class="ticon-heart"></i></a></li>
    </ul>
</div>

<div class="backtotop">
    <i onclick="btop()" class="fa fa-arrow-up"></i>
</div>
<script>
    function btop() {
        $("html, body").animate({ scrollTop: 0 }, 1000);
    }
</script>