@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="">
            <img src="/upload/ProductsImg/@item.Images" class="img-responsive bottom" alt="/upload/ProductsImg/@item.Images" title="/upload/ProductsImg/@item.Images" />
        </div>
    }
}

