
@{
    Layout = null;
}
<div class="container" style="height:100vh">
    <iframe src="https://www.flipbookpdf.net/web/site/0d12b7686a6f62679a8b75f5a9ed74da64b751f6202404.pdf.html" style="width:100%;height:100%">
    </iframe>   
</div>
<style>
    .container-fluid {
       display:none;
    }
    .footer_box {
        display: none;
    }
    
    .header_bottom_box.stmn {
        display: none;
    }
</style>